#============= surfaceflinger ==============

allow surfaceflinger vfat:dir search;
allow surfaceflinger sysfs:file rw_file_perms;
binder_use(surfaceflinger)

# secure display
allow surfaceflinger persist_file:dir r_dir_perms;

